# Multiple Linear Regression

## Importing the dataset

In [1]:
dataset <- read.csv("../data/50_Startups.csv")
head(dataset)

  R.D.Spend Administration Marketing.Spend State      Profit
1 165349.2  136897.80      471784.1        New York   192261.8
2 162597.7  151377.59      443898.5        California 191792.1
3 153441.5  101145.55      407934.5        Florida    191050.4
4 144372.4  118671.85      383199.6        New York   182902.0
5 142107.3   91391.77      366168.4        Florida    166187.9
6 131876.9   99814.71      362861.4        New York   156991.1

## Splitting the dataset into the Training set and Test set

In [3]:
# install.packages("caTools")
library(caTools)
set.seed(123)
# change the dependent variable accordingly to the dataset
split <- sample.split(dataset$Profit, SplitRatio = 0.8)
training_set <- subset(dataset, split == TRUE)
test_set <- subset(dataset, split == FALSE)
head(training_set)
head(test_set)

  R.D.Spend Administration Marketing.Spend State      Profit
1 165349.2  136897.80      471784.1        New York   192261.8
2 162597.7  151377.59      443898.5        California 191792.1
3 153441.5  101145.55      407934.5        Florida    191050.4
6 131876.9   99814.71      362861.4        New York   156991.1
7 134615.5  147198.87      127716.8        California 156122.5
9 120542.5  148718.95      311613.3        New York   152211.8

   R.D.Spend Administration Marketing.Spend State    Profit
4  144372.4  118671.85      383199.6        New York 182902.0
5  142107.3   91391.77      366168.4        Florida  166187.9
8  130298.1  145530.06      323876.7        Florida  155752.6
11 101913.1  110594.11      229161.0        Florida  146122.0
16 114523.6  122616.84      261776.2        New York 129917.0
20  86419.7  153514.11           0.0        New York 122776.9

## Fitting Multiple Linear Regression to the Training set

In [5]:
regressor <- lm(formula = Profit ~ .,
               data = training_set)

## Predicting the Test set results

In [6]:
y_pred <- predict(regressor, newdata = test_set)